# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
#Escondendo configurações docker
/html/*/
/moodledatas/*/
/postgres/postgres-data/*/
/php7.2-ubuntu/logs/
/php7.0-ubuntu/logs/
/php5.6-ubuntu/logs/



